<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.color.vo.Cart" alias="Cart"/>
		<typeAlias type="global.sesoc.color.vo.Customer" alias="Customer"/>
		<typeAlias type="global.sesoc.color.vo.Productinfo" alias="Productinfo"/>
		<typeAlias type="global.sesoc.color.vo.Reply" alias="Reply"/>
		<typeAlias type="global.sesoc.color.vo.Review" alias="Review"/>
		<typeAlias type="global.sesoc.color.vo.Skinphoto" alias="Skinphoto"/>
		<typeAlias type="global.sesoc.color.vo.CrawlReview" alias="CrawlReview"/>
		<typeAlias type="global.sesoc.color.vo.Checkbox" alias="Checkbox"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/customerMapper.xml" />
		<mapper resource="mapper/reviewMapper.xml" />
		<mapper resource="mapper/crawlreviewMapper.xml" />
		<mapper resource="mapper/productMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
		<mapper resource="mapper/cartMapper.xml" />
	</mappers>
</configuration>
