<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.color.dao.CustomerMapper">

<!-- 회원가입 -->

<insert id="signup" parameterType="Customer">
	insert into 
		customer
        (
            custno
            , custid
            , custpwd
            , custname
            , custgender
            , custemail
            , custage
            , custphone
            , custaddress
        )
	values (
		SEQ_CUSTOMER_CUSTNO.nextval
		, #{custid}
		, #{custpwd}
		, #{custname}
		, #{custgender}
		, #{custemail}
		, #{custage}
		, #{custphone}
		, #{custaddress}
	)
</insert>

<!-- 로그인 / 중복체크는 나중에 -->

<select id="selectOne" parameterType="Customer" resultType="Customer">
	select
		*
	from
		customer
	where
		custid = #{custid}
	<if test="custpwd != null">
	and
		custpwd = #{custpwd}
	</if>
</select>

</mapper>